html {
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 80%;
    text-align: center;
    margin-top: 50px;
}

@media (min-width: 576px) {
    #main {
        width: 70%;
        text-align: center;
        margin-top: 150px;
    }
}

@media (min-width: 768px) {
    #main {
        width: 50%;
        text-align: center;
        margin-top: 150px;
    }
}

#message {
    margin-top: 20px;
}
